{% extends 'base.html' %} 
{% load static %} 
{% block title %}Login Form{%endblock %} 
{% block link %}
<link href="{% static '/css/signup.css' %}" rel="stylesheet" /> 
{% endblock %}
{% block content %}

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Login Form</h3>
            <form id="loginForm" method="post" action="login">
              {% csrf_token %}

              <div class="row">
                <div class="col-md-12 mb-2">
                <div class="form-outline">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="email">Email</label>
                </div>
              </div>

              <div class="col-md-12 mb-2">
                <div class="form-outline">
                  <input
                    type="text"
                    id="text"
                    name="username"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="email">username</label>
                </div>
              </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input
                      type="password"
                      id="password"
                      name="password_1"
                      class="form-control form-control-lg"
                    />
                    <label class="form-label" for="password">Password</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input
                      type="password"
                      id="repeatPassword"
                      name="password_2"
                      class="form-control form-control-lg"
                    />
                    <label class="form-label" for="repeatPassword"
                      >Repeat Password</label
                    >
                  </div>
                </div>
              </div>

              <div class="mt-4 pt-2">
                <input
                  class="btn btn-primary btn-lg"
                  type="submit"
                  value="Submit"
                />
              </div>
            </form>
            <div class="form-outline pt-3 mb-4 text-center">
              
                <a href="signup">Do you have an account?</a>
                         
          </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Error Modal -->
<div
  class="modal fade"
  id="errorModal"
  tabindex="-1"
  aria-labelledby="errorModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Error</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %} {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>

<script>
  // Check if there are error messages, then show the modal
  {% if messages %}
  $(document).ready(function () {
    $('#errorModal').modal('show');
  });
  {% endif %}
</script>

{% endblock %}
